.page404 {
	@include flex(center, center);
	flex-direction: column;
	margin: 0 auto;
	text-align: center;
	gap: 30px;
	padding: 1rem;

	&__image {
		max-width: 256px;
		width: 100%;
		height: auto;
	}
	&__title {
		text-transform: uppercase;
	}
}
