.books {
	padding-bottom: 5rem;
	&__header {
		margin-bottom: 1rem;
		@include flex(flex-end, center);
		.books__search {
			max-width: 250px;
			width: 100%;
			padding: 0.5rem;
			border-top-left-radius: 0.5rem;
			border-bottom-left-radius: 0.5rem;
			border: 2px solid $blue;
			border-right: none;
			height: 36px;
		}
		.books__sort-select {
			border: 2px solid $blue;
			height: 36px;
			padding: 0.5rem;
			text-transform: uppercase;
			border-top-right-radius: 0.5rem;
			border-bottom-right-radius: 0.5rem;
		}
	}
	&__catalog {
		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(4, 1fr);
		gap: 1rem;
		@media screen and (max-width: 920px) {
			& {
				grid-template-columns: repeat(3, 1fr);
			}
		}
		@media screen and (max-width: 680px) {
			& {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		@media screen and (max-width: 440px) {
			& {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}
}
