.btn {
	@include flex(center, center);
	gap: 5px;
	color: $blue;
	background-color: $lightblue;
	font-size: 0.75rem;
	line-height: 1.5;
	height: 36px;
	font-weight: 700;
	padding: 0.5rem 1rem;
	border: 2px solid $blue;
	border-radius: 1.5rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.5s ease;
	&:hover {
		color: $white;
		background-color: $blue;
	}
	&:disabled {
		color: $orange;
		background-color: $lightgray;
		border-color: $orange;
		cursor: not-allowed;
	}
	&:disabled:hover {
		background-color: $orange;
		color: $white;
	}
	svg {
		height: 20px;
		width: 20px;
	}
}
