.btn {
	display: block;
	color: $blue;
	background-color: $lightblue;
	font-size: 0.75rem;
	font-weight: 500;
	padding: 0.5rem 1rem;
	border: 1px solid $blue;
	border-radius: 1.5rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.5s ease;
	&:hover {
		color: $white;
		background-color: $blue;
		border-color: $white;
	}
}
