@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: $blue;
	line-height: 1.5;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: unset;
}

a:hover {
	color: $blue;
}

img {
	max-width: 100%;
}

// MISC
.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 15px;
}
